[submodule "lib/imgui"]
	path = BarleyGUI/lib/imgui
	url = https://github.com/ocornut/imgui.git
	branch = docking
[submodule "lib/tracy"]
	path = BarleyTracing/lib/tracy
	url = https://github.com/wolfpld/tracy.git
