[submodule "Barley/lib/imgui"]
	path = Barley/lib/imgui
	url = https://github.com/ocornut/imgui.git
	branch = docking
[submodule "Rye/lib/tracy"]
	path = Rye/lib/tracy
	url = https://github.com/wolfpld/tracy.git
[submodule "Rye/lib/glm"]
	path = Rye/lib/glm
	url = https://github.com/g-truc/glm.git
